*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	transition: .5s ease-in-out;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

ul,
ul,
li {
	list-style: none;
}

img {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: inherit;
	font-size: inherit;
}

body {
	height: 100%;
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: 1;
	font-size: 16px;
	color: #333333;
	background-color: #E5E5E5;
	padding-bottom: 20px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	width: 100%;
}
.container {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 15px;
}
.section__title {
	font-weight: 400;
	font-size: 48px;
	line-height: 123%;
	color: #333333;
	margin-top: 100px;
}
.section__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 200%;
}
.button {
	display: inline-block;
	font-weight: 700;
	background-color: #FF9900;
	font-size: 23.5px;
	line-height: 125%;
	padding: 27.5px 36.88px;
	color: #fff;
	transition: background-color .5s;
	cursor: pointer;
}
.button:hover{
	background-color: #ebb159;
}
/* HEADER */
.header {
	width: 100%;
	background-color: #fff;
}
.container {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
}
.header__button_burger {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	z-index: 11;
}
.header__button_burger span {
	display: block;
	position: absolute;
	left: 5px;
	width: 30px;
	height: 3px;
	background-color: #333333;
	transition: transform .5s, opacity .5s, rotate .5;
}
.header__button_burger span:nth-child(1){
	transform: translateY(10px);
}
.header__button_burger span:nth-child(3){
	transform: translateY(-10px);
}
.header.open .header__button_burger span:nth-child(1){
	transform: translateY(0px) rotate(45deg);
}
.header.open .header__button_burger span:nth-child(2){
	opacity: 0;
}
.header.open .header__button_burger span:nth-child(3){
	transform: translateY(0px) rotate(-45deg);
}
.header__logo img{
	display: block;
	max-width: 224px;
}
.header__nav {
	display: flex;
	width: 817px;
	justify-content: space-between;
}
.nav__list {
	display: flex;
	width: 708px;
	justify-content: space-between;
}
.nav__list-item {
}
.nav__list-item a{
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
}
.header__nav-link {
}
.header__button_search {
	transform: scaleY(-4px);
	background-color: transparent;
}

/* HERO */
.section__hero {
	min-height: 620px;
	position: relative;
	padding: 100px 0 0 80px;
}
.hero-swiper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.swiper {
	width: 100%;
	height: 100%;	
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
  }

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
.swiper-pagination{
	bottom: 30px !important;
	z-index: 10 !important;
}
.swiper-pagination .swiper-pagination-bullet {
	margin: 0 auto;
	width: 15px;
	height: 15px;
}
.swiper-pagination .swiper-pagination-bullet:not(:last-child){
	margin-right: 20px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
	background:#fff;
}
.hero-content {
	display: inline-block;
	position: relative;
	z-index: 2;
}
.hero-title {
	font-weight: 800;
	font-size: 70px;
	line-height: 122%;
	margin-bottom: 24px;
}
.hero-title,
.hero-subtitle {
  	max-width: 837px;
	color: #fff;
}
.hero-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 121%;
  	margin-bottom: 90px;
}

/* ABOUT */
.section__about {
}
.section__about-top {
	margin-bottom: 50px;
}
.about_title{
	margin-bottom: 20px;
}
.about_text{	
	max-width: 1235px;
}
.section__about-bottom {
	display: flex;
	flex: 0 1 48%;
	justify-content: space-between;
}
.section__about-bottom-left {
	position: relative;
	display: flex;
	flex: 0 1 49%;
	width: 100%;
	padding: 311px 0;
	background: url(../img/about/about-bootom-left-bg.jpg) center / cover no-repeat;
}
.section__about-bottom-left-content {
	width: 100%;
	display: flex;
	position:absolute;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	padding: 50px;
	justify-content: space-between;
	align-items: center;
}
.section__about-bottom-left-content320,
.section__about-bottom-left-text320,
.about__button320{
	display: none;
}
.section__about-bottom-left-text {
	max-width: 454px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 200%;
}
.about__button {
	display: inline-block;
	background-color: transparent;
	border: 3px solid #FF9900;
	font-weight: 700;
	font-size: 16px;
	line-height: 125%;
	padding: 20px 38px;
	color: #fff;
}
.about__button:hover {
	background-color: #ffffff62;
	color: #222222;
}
.section__about-bottom-right {
	display: flex;
	flex: 0 1 49%;
	flex-direction: column;
	justify-content: space-between;
}
.section__about-bottom-right-card {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 65px 0px;
	background: #FFFFFF;
	border: 1px solid #CACACA;
}
.about__card-img-top,
.about__card-img-bottom {
	padding: 82.5px 95px;
	max-height: 165px;
	margin: 0 5px;
}
.about__card-img-top {
	background: url(../img/about/bottom/top-card.svg) center / cover no-repeat;
}
.about__card-text {
	max-width: 452px;
}
.card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	margin-bottom: 8px;
}
.about__card-content {
	font-weight: 400;
	font-size: 16px;
	line-height: 200%;
}
.about__bottom-card {
}
.about__card-img-bottom {
	background: url(../img/about/bottom/bottom-card.svg) center / cover no-repeat;
}
/* HOW */
.section__how {
}
.section__how_top {
}
.section__how_list {
	display: flex;
	max-width: 412px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 45px;
}
.how__list_item {
	font-size: 18px;
}
.how__list_item .button{
	background-color: #E5E5E5;
	border: none;
}
.how__step {
	cursor: pointer;
}
.section__how_bottom {
	display: none;
	min-height: 460px;
	justify-content: space-between;
}
.section__how_bottom-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 460px;
	flex: 0 1 49%;
}
.how__bottom_text {
	max-width: 768px;
	line-height: 200%;
	margin-bottom: 25px;
}
.how__bottom_buttons {
}
.button {
	padding: 20px 38px;
}
.how__left_button {
	font-size: 16px;
	line-height: 125%;
	margin: 0px 32px 0px 0px;
}
.how__right_button {
	font-size: 16px;
	line-height: 125%;
	background-color: transparent;
	border: 1px solid #333333;
	padding: 20px 38px;
	color: #333333;
}
.section__how_bottom-right {
	width: 49%;
}
.section__how_bottom-right img{
	object-position:56%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.active {
	display: flex;
}
/* FAQ */
.faq {
	margin-bottom: 100px;
}
.faq .ui-icon,
.faq .ui-widget-content .ui-icon {
    display: none;
}
.faq .ui-accordion {
	position: relative;
}
.faq .ui-accordion .ui-accordion-header{
	padding: 39px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	background-color: transparent;
	border: 1px solid transparent;
	border-bottom-color: #CACACA;
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
}
.faq .ui-accordion .ui-accordion-header:first-child {
	border-top-color: #CACACA;
}
.faq .ui-accordion .ui-accordion-header:not(:first-child){
	margin-top: -1px;
}
.faq .ui-accordion .ui-accordion-header:hover{
	border-top-color:#FF9900;
	border-bottom-color:#FF9900;
	color: #FF9900;
}
.faq__list-img {
	display: block;
	width: 50px;
	height: 50px;
	transition: all .5s ease-in-out;
}
.faq .ui-accordion .ui-accordion-header:hover .faq__list-img ellipse {
	fill:#FF9900;
}
.faq .ui-accordion .ui-accordion-header:hover .faq__list-img path {
	fill:#FFF;
}
.faq .ui-accordion .ui-accordion-header-active{
	color:#333333;
	border-bottom: none;
}
.faq .ui-accordion .ui-accordion-header-active .faq__list-img {
	transform: rotate(45deg);
}
.faq .ui-accordion .ui-accordion-content {
	display: block;
	margin: -10px 0 41px 0;
	padding: 0;
	background-color: transparent;
	max-width: 1003px;
	border:none;
	font-weight: 400;
	font-size: 16px;
	line-height: 200%;
}
.faq .ui-accordion .ui-accordion-content p:not(:first-child){
	margin-top: 20px;
}
.faq .ui-accordion .ui-accordion-content:after{
	content: "";
	position: absolute;
	margin-top: 40px;
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #CACACA;
}
.ui-accordion-header:hover + .ui-accordion-content:after{
	background-color: #FF9900;
}


/* .section__faq {
	margin-bottom: 100px;
}
.section__faq_list {
}
/* .faq__list_item {
	padding: 39px 0; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid transparent;
	border-top-color:#CACACA
	
} */
/* .section__faq {
	border-bottom:1px solid #CACACA;
}
.section__faq .list_item_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	font-weight: 700;
	font-size: 24px;
	line-height: 133.33%;
	margin: 0;
	border: 1px solid transparent;
	border-top-color:#CACACA;
	padding: 39px 0;
	transition: color .5s;
	
}
.section__faq .list_item_title:not(:last-child){
	border-bottom-color:#CACACA;
}
.section__faq .list_item_title:hover{
	border-top-color: #FF9900;
	border-bottom-color: #FF9900;
	color: #FF9900;
}
.list_item_title:hover ellipse {
	fill: #FF9900;
}
.list_item_title:hover path {
	fill:#FFF;
}

.list_item-title-icon {
	display: block;
}
.section__faq .list_item_text{
	margin: -10px 0 30px 0;
	height: 100% !important;
	background-color: transparent;
	padding: 0;
	max-width: 1003px;
}
.section__faq .list_item_text p{
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
}
.section__faq .list_item_text p:not(:first-child){
	margin-top: 30px;
}
.ui-widget {
    font-family: inherit;
    font-size: inherit;
}
.ui-icon,
.ui-widget-content .ui-icon {
	display: none;
}
.ui-widget-content {
    border: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active  {
	color: inherit;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-button.ui-state-active:hover{
	color:#FF9900;
}
.list_item_img {
	padding: 25px;
	display: inline-block;
	background: url(../img/faq/Ellipse.svg) center / cover no-repeat;
} */
/* FOOTER */
.footer {
	width: 100%;
	background-color: #222222;
	color: #CACACA;
}
.container {
}
.footer__container{
	display: flex;
	padding: 50px 0px;
	justify-content: space-between;
	align-items: center;
	padding: 50px 15px;
}
.footer__left {	
}
.logo {
}
.footer__logo {
	display: block;
	width: 225px;
	height: 72px;
	background-image: url(../img/footer/Logo.svg);
}
.footer__left_list {
	font-weight: 600;
	font-size: 18px;
	line-height: 200%;
	margin-bottom: 90px;
}
.footet__left_list_item {
}
.footer__social {
	display: flex;
}
.facebook ,
.vk ,
.instagram {
	max-height: 60px;
	display: inline-block;
	padding: 30px 30px;
	margin: 15px 25px 0px 0px;
}
.facebook {
	background: url(../img/footer/facebook.svg) center / cover no-repeat;
}
.vk {
	background: url(../img/footer/vk.svg) center / cover no-repeat;
}
.instagram {
	background: url(../img/footer/instagram.svg) center / cover no-repeat;
}
.footer__center {
	position: relative;
	margin: 0 10px;
	max-width: 570px;
}
.footer__center_header {
	margin: 0 0 25px 0;
	color: #CACACA;
}
.footer__form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 410px;
	}
.footer__form input ,
.footer textarea
{
	background-color: #414141;
	padding: 14px 24px;
	margin-bottom: 25px;
}
.footer__center_bottom {
}
.button {
}
.footer__button {
	margin: 0 18px 10px 0;
	padding: 19px 52px;
	cursor: pointer;
	font-size: 16px;
	line-height: 125%;
}
.custom_checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.custom_checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}
.custom_checkbox+label::before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #CACACA;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80% 80%;

}
.custom_checkbox:checked+label::before {
	background-color: transparent;
	background-image: url(../img/footer/agree.svg);
}
.footer__right {
	max-width: 363px;
	font-weight: 400;
	line-height: 200%;
}
/* MEDIA */
@media (max-width:1024px){
	.container {	
		padding: 0 50px;
	}
	/* HEADER */
	.header__logo img{
		max-width: 150px;
	}
	.header__button_burger {
		display: block;
	}
	.nav__list {
		display: block;
		position: absolute;
		left: -320px;
		top: 0;
		background-color: #FF9900;
		padding: 85px 20px 20px 20px;
		width: 320px;
		z-index: 10;
	}
	.header__nav{
		display: block;
		width: 24px;
		padding: 15px;
	}
	.nav__list-item{
		display: block;
		padding: 10px 0;
		text-align: center;
	}
	header.open .nav__list {
		transform: translateX(100%);
	}
	/* HERO */
	.section__hero {
		min-height: 668px;
		padding: 160px 77px 0px 77px;
	}
	.hero-title {
		font-size: 60px;
		margin-bottom: 16px;
	}
	.hero-subtitle {		
		font-size: 20px;		
		margin-bottom: 60px;
		max-width: 660px;
	}
	/* ABOUT */
	.section__about-bottom {
		flex-direction: column;
		width: 100%;
	}
	.section__about-bottom-left {
		margin-bottom: 32px;
	}
	.section__about-bottom-right-card:not(:last-child){
		margin-bottom: 32px;
	}
	/* FOOTER */
	.footer__container{
		padding: 50px 50px;
	}
	.footer__logo {
		margin: 0 0 0px 0;
		background-image: url(../img/footer/Logo.svg);
	}
	.footer__button {
		padding: 19px 37.5px;
	}
	.footer__right {
		display: none;
	}	
}
@media (max-width:840px){
	.section__title {
		font-size: 48px;
		margin-top: 80px;
	}
	/* HERO */
	.section__hero {
		padding: 160px 40px;
	}
	.hero-title {
		font-size: 50px;			
	}
	.hero-subtitle {
		font-size: 18px;
	}
	/* ABOUT */
	.section__about-bottom-left-content {
		padding: 40px;
	}
	.section__about-bottom-left-text {
		max-width: 366px;
	}
.section__about-bottom-right-card {
	padding: 35px 40px 35px 40px;
	}
	.about__card-img-top,
	.about__card-img-bottom {
	padding: 49.5px 57px;
	margin-right: 15px;
	}
	/* HOW */
	.section__how_list{
		max-width: none;
	}
	.section__how_bottom {
		flex-direction: column-reverse;
	}
	.section__how_bottom-left {
		min-height: 100%;
	}
	.section__how_bottom-right {
		min-height: 284px;
		width: 100%;
		margin-bottom: 38px;
	}
	/* FAQ */
	.section__faq {
		margin-bottom: 80px;
	}
	/* FOOTER */
	.footer__container{
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: space-between;
	}
	.footer__left_list {
		display: none;
	}
	.footer__center_header {
		margin: 0;
	}
	.footer__center {
		margin: 0 0 50px 0;
	}
}
@media (max-width:464px){
	.container {
		padding: 0 15px;
	}
	.section__title {
		font-size: 24px;
		margin-top: 60px;
	}
	.button {
		font-size: 12px;
		padding: 5.83px 22.12px;
		color: #fff;
	}
	/* HERO */
.section__hero {
	min-height: 308px;
	padding: 60px 22px;
	background: url(../img/hero/hero-bg320.jpg) center / cover no-repeat;
	text-align: center;
	}
	.hero-title {
		font-size: 20px;
		margin-bottom: 6px;
	}
	.hero-subtitle {
		font-size: 12px;
		margin-bottom: 32px;
	}
	.section__text {		
		font-size: 14px;
	}
	.section__about-top {
		margin-bottom: 8px;
	}
	.section__about-bottom-left {
		width: 100%;
		padding: 100px 0;
		background: url(../img/about/about-bootom-left-bg320.jpg) 50% 0 / cover no-repeat;
		margin-bottom: 8px;
	}
	.section__about-bottom-left-content {
		display: none;
	}
	.section__about-bottom-left-content320,
	.section__about-bottom-left-text320,
	.about__button320 {
		display: block;
	}
	.section__about-bottom-left-text320 {
		font-size: 14px;
		font-weight: 400;
		line-height: 200%;
		margin-bottom: 8px;
	}
	.about__button320 {
		display: inline-block;
		color: #FF9900;
		font-size: 12px;
		font-weight: 700;
		border: 2px solid #FF9900;
		padding: 15px 31.72px 15px 31.72px;
		margin-bottom: 32px;
	}
	.section__about-bottom-right-card {
		padding: 0 0;
		flex-direction: column;
		align-items: flex-start;
		background-color: #E5E5E5;
		border: none;
	}
	.card-title {
		font-size: 18px;
		font-weight: 500;
	}
	.about__card-content{
		font-size: 14px;
	}
	.about__card-img-top, 
	.about__card-img-bottom {
		margin-bottom: 8px;
	}
	/* HOW */
	.section__title {
		margin-bottom: 16px !important; 
	}
	.section__how_list {
		margin-bottom: 16px;
	}
	.how__step {
		font-size: 14px;
		line-height: 1;
	}
	.section__how_bottom-right {
		width: 100%;
		min-height: 160px;
		background: url(../img/how/bg-right320.svg) center / cover no-repeat;
		margin-bottom: 16px;
	}
	.card-title {
		font-weight: 500;
		font-size: 18px;
		line-height: 200%;
	}
	.how__bottom_text {
		font-size: 14px;
	}
	.how__left_button {
		display: inline-block;
		color: #FFF;
		font-size: 12px;
		font-weight: 700;
		background-color:  #FF9900;
		padding: 15px 31.72px 15px 31.72px;
		margin-right: 10px;
	}
	.how__right_button {
		max-height: 45px;
		font-size: 12px;
		padding: 15px 31.72px;
		color: #333333;
		line-height: 125%;
	}	
	/* FAQ */
	.section__faq {
		margin-bottom: 60px;
	}
	.faq__list_item {
		padding: 30px 0;		
	}
	.list_item_text {
		font-weight: 500;
		font-size: 14px;
	}
	.list_item_img {
		padding: 15px;
	}
	/* FOOTER */
	.footer__center_header {
		margin-top: 32px;
	}
	.footer__form {
		text-align: center;
	}
	.footer__button {
		padding: 13px 24px;
	}
	.footer__left{
		width: 100%;
	}
	.footer__left::before {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: #595959;	
		margin-bottom: 16px;
	}
	.logo {
		padding: 21px 65.5px;
	}
	.footer__logo {
		display: block;
		margin: 0px auto 16px auto;
		background: url(../img/footer/Logo.svg) center / cover no-repeat;
	}
	.footer__social {
		justify-content: space-evenly;
	}
	.facebook ,
	.vk ,
	.instagram {
		max-height: 40px;
		padding: 20px 20px;
		margin: 0px 0px 20px 0px;
	}
}	
